run="export CC=clang; export CXX=clang++; rm -rf ../build; mkdir -p ../build; cd ../build; cmake ../acc-cosc-1337-fall-2020-luiatxtitanic/; make; cd test/homework_test/04_iteration_test; ./hw_04_tests  ;"


